# Auth Secrets
JWT_SECRET=your_secret_key_here
DOCTOR_PASSWORD=doctor_pass
ASSISTANT_PASSWORD=assistant_pass

# Database Connections (Optional)
# If provided, the app will connect to MongoDB Atlas. Otherwise, it defaults to local standalone SQLite.
MONGODB_URI=

# Cloudinary CDN Secrets (for Prescription paper scans hosting)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
